@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-1: #f0f2f5;
    --primary-2-blue: #0866ff;
    --secondary-1: #ffffff;
    --secondary-2: #ccd0d5;
    --blue-2: #297bff;
    --red-1: #ea2222;
    --red-2: #eb5353;
    --gray-1: #adb0b3;
    --gray-2: #4c4d4f;
    --skeleton: #e4e6eb;

    --background-1: var(--primary-1);
    --warning-color: var(--red-1);
    --hover-1: var(--secondary-2);
    --hover-2: var(--primary-1);
    --hover-blue: var(--blue-2);
    --hover-warning: var(--red-2);
    --hover-secondary: var(--gray-1);
    --hover-secondary-dark: var(--gray-2);
    --dark-hover-1: var(--dark-secondary-2);
    --dark-hover-2: var(--dark-secondary-1);

    // Dark
    --dark-primary-1: #18191a;

    --dark-secondary-1: #242526;
    --dark-secondary-2: #3a3b3c;

    --dark-background-1: var(--dark-primary-1);

    // Text
    --primary-text-1: #e4e6eb;
    --secondary-text-1: #9d9d9d;

    // Variant
    --warning: var(--warning-color);

    // Posistion
    --content-top: 4.5rem;

    // Width
    --container-width: 1150px;
}
